<!-- Logos -->
<footer id="logos">
  <div class="inner">
    <div class="left-logos">
      Implementing partners
      <a href="https://www.gfdrr.org/" title="The Global Facility for Disaster Reduction and Recovery website" target="_blank">
        <img src="/images/gfdrr-logo.png" alt="The Global Facility for Disaster Reduction and Recovery logo">
      </a>
      <a href="https://opendri.org/" title="The Open Data for Resilience Initiative website" target="_blank">
        <img src="/images/odri-full-neg.png" alt="The Open Data for Resilience Initiative logo">
      </a>
    </div>
  </div>
</footer>
